{% extends 'base.html' %} 
{% load static %} 
{% block title %} 
Ver producto 
{% endblock title %} 

{% block body %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="card" style="width: 18rem">
          <img
            class="card-img-top"
            src="{% if producto.imagen %}/media/{{MEDIA_URL}}{{producto.imagen}}{% else %}{% static 'images/product_placeholder.png' %}{% endif %}"
            alt="{{producto.nombre}}"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">{{producto.nombre}}</h5>
            <p class="card-text">{{producto.descripcion}}.</p>
            <form action="{% url 'ordenes:agregar' producto.slug%}" method="post">
              {% csrf_token %}
              <input type="hidden" name="id" value="{{producto.id}}" />
              <button type="submit" class="main-btn secondary-1-btn">
                <img src="{% static 'images/icon-svg/cart-7.svg' %}" alt="" />
                ${{producto.precio}}
              </button>
            </form>
          </div>
        </div>

       
        
      </div>
    </div>
  </div>
</section>
{% endblock body %}
