{% load static %}
{% load auth_extras %}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">

    <!--====== Title ======-->
    <title>
        {% block title %}

        {% endblock title %}
    </title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block css %}

    {% endblock css %}
    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="{% static 'images/imagenes-tuneadas/zac.png' %}" type="image/png">

    <!--====== Slick CSS ======-->
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">


    <!--====== Line Icons CSS ======-->
    <link rel="stylesheet" href="{% static 'css/LineIcons.css' %}">

    <!--====== Material Design Icons CSS ======-->
    <link rel="stylesheet" href="{% static 'css/materialdesignicons.min.css' %}">

    <!--====== Jquery Ui CSS ======-->
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">

    <!--====== nice select CSS ======-->
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">

    <!--====== Bootstrap CSS ======-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <!--====== Default CSS ======-->
    <link rel="stylesheet" href="{% static 'css/default.css' %}">

    <!--====== Style CSS ======-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

<!--====== Preloader Part Start ======-->
<div class="preloader">
    <div class="loader">
        <div class="ytp-spinner">
            <div class="ytp-spinner-container">
                <div class="ytp-spinner-rotator">
                    <div class="ytp-spinner-left">
                        <div class="ytp-spinner-circle"></div>
                    </div>
                    <div class="ytp-spinner-right">
                        <div class="ytp-spinner-circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====== Preloader Part Ends ======-->

<!--====== Navbar Style 7 Part Start ======-->
<header class="navbar-style-7 position-relative">
    <div class="container">
        <!-- navbar mobile Start -->
        <div class="navbar-mobile d-none">
            <div class="row justify-content-between">
                <div class="col-3">
                    <!-- navbar cart start -->
                    <div class="navbar-toggle icon-text-btn">
                        <a class="icon-btn primary-icon-text mobile-menu-open-7" href="javascript:void(0)">
                            <i class="mdi mdi-menu"></i>
                        </a>
                    </div>
                    <!-- navbar cart Ends -->
                </div>
            </div>
            <!-- navbar was here -->
            <!-- navbar search Ends -->
        </div>
        <!-- navbar mobile Start -->
    </div>

    <div class="navbar-container navbar-sidebar-7">
        <!-- navbar close  Ends -->
        <div class="navbar-close d-lg-none">
            <a class="close-mobile-menu-7" href="javascript:void(0)"><i class="mdi mdi-close"></i></a>
        </div>
        <!-- navbar close  Ends -->

        <!-- navbar top Start -->
        <div class="navbar-top-wrapper">
            <div>
                <div class="navbar-top d-lg-flex justify-content-between">
                    <!-- navbar top left Start -->
                    <div class="navbar-top-left ">
                        <ul class="navbar-top-link">
                            <li><a>Acerca de</a></li>
                            <li>
                                <a href="tel:">
                                    <i class="mdi mdi-phone-in-talk"></i>
                                    >>Telefono
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- navbar top left Ends -->
                    <div class="navbar-top-wrapper">
                        <ul class="navbar-top-link">
                            {% if perms.usuarios.permiso_administradores %}
                                <li>
                                    <h4 class="letras-blancas mt-1">Administrador</h4>
                                </li>
                            {% elif perms.usuarios.permiso_vendedores %}
                                <li>
                                    <h4 class="letras-blancas mt-1">Vendedor</h4>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    <!-- navbar top right Start -->
                    <div class="navbar-top-right">
                        <ul class="navbar-top-link">
                            {% if perms.usuarios.permiso_administradores %}
                                <li>
                                    <p class="letras-blancas text-uppercase">Bienvenido {{ user.username }}</p>
                                </li>
                            {% elif perms.usuarios.permiso_vendedores or perms.usuarios.permiso_vendedor_previo %}
                                <li>
                                    <p class="letras-blancas text-uppercase">Bienvenido {{ user.username }}</p>
                                </li>
                            {% endif %}
                            <li>
                                {% if user.username %}
                                    <a href="{% url 'usuarios:ver' user.id %}"> Mi cuenta </a>
                                    <a href="{% url 'usuarios:logout' %}"><i class="mdi mdi-account"></i>Salir</a>
                                {% else %}
                                    <a href="{% url 'usuarios:login' %}"><i class="mdi mdi-account"></i>Iniciar
                                        Sesi&oacute;n</a>
                                    <a href="{% url 'usuarios:signup' %}"><i class="mdi mdi-account"></i>Registrar</a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                    <!-- navbar top right Ends -->


                </div>
            </div>
        </div>
        <!-- navbar top Ends -->

        <!-- main navbar Ends -->
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <a class="navbar-brand" href="{% url 'principal:principal' %}">
            <img src="{% static 'images/imagenes-tuneadas/ZacatecasLogo.png' %}" alt="Logo" width="200px">
        </a>
        <button class="navbar-toggler ml-5" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse ml-5 " id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'principal:principal' %}"
                       style="color: black; font-size: large;">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       style="color: black; font-size: large;">
                        Arte/Cultura
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item hoverMenu" href="#">Exposiciones</a>
                        <a class="dropdown-item hover" href="#">Festivales</a>
                        <a class="dropdown-item" href="#">Talleres de Artes</a>
                        <a class="dropdown-item" href="#">Artes Plásticas</a>
                        <a class="dropdown-item" href="#">Galerías de Arte</a>
                        <a class="dropdown-item" href="#">Artistas</a>
                    </div>
                </li>
                <li class="nav-item dropdown letras">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       style="color: black; font-size: large;">
                        Artesanías
                    </a>
                    <div class="dropdown-menu letras" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Plata</a>
                        <a class="dropdown-item" href="#">Talabartería</a>
                        <a class="dropdown-item" href="#">Cerámica</a>
                        <a class="dropdown-item" href="#">Joyería</a>
                        <a class="dropdown-item" href="#">Indígenas</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       style="color: black; font-size: large;">
                        Comercial
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Agro-industria</a>
                        <a class="dropdown-item" href="#">Conservas</a>
                    </div>
                </li>
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       style="color: black; font-size: large;">
                        Turismo
                    </a>
                    <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Hoteles</a>
                        <a class="dropdown-item" href="#">Restaurantes</a>
                        <a class="dropdown-item" href="#">Recorridos</a>
                        <a class="dropdown-item" href="#">Museos</a>
                        <a class="dropdown-item" href="#">Teleférico</a>
                        <a class="dropdown-item" href="#">Mina</a>
                        <a class="dropdown-item" href="#">Cerro La Bufa</a>
                        <a class="dropdown-item" href="#">Callejoneadas</a>
                        <a class="dropdown-item" href="#">Puertas Digitales</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       style="color: black; font-size: large;">
                        Servicios
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Renta Autos</a>
                        <a class="dropdown-item" href="#">Médicos</a>
                        <a class="dropdown-item" href="#">Aeropuerto</a>
                        <a class="dropdown-item" href="#">Autobuses</a>
                        <a class="dropdown-item" href="#">Transporte Público</a>
                        <a class="dropdown-item" href="#">Conectividad</a>
                        <a class="dropdown-item" href="#">Pronóstico</a>
                        <a class="dropdown-item" href="#">Trámites</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'principal:lista' %}" style="color: black; font-size: large;">Tienda</a>
                </li>

                {% if user.username %}
                    <li class="nav-item d-lg-none d-xl-none">
                        <a class="nav-link" href=# style="color: black; font-size: large;">Mi cuenta</a>
                    </li>
                    <li class="nav-item d-lg-none d-xl-none">
                        <a class="nav-link" href="{% url 'usuarios:logout' %}" style="color: black; font-size: large;">Salir</a>
                    </li>
                {% else %}
                    <li class="nav-item d-lg-none d-xl-none">
                        <a class="nav-link" href="{% url 'usuarios:login' %}" style="color: black; font-size: large;">Iniciar
                            sesión</a>
                    </li>
                    <li class="nav-item d-lg-none d-xl-none">
                        <a class="nav-link" href="{% url 'usuarios:signup' %}" style="color: black; font-size: large;">Registrar</a>
                    </li>
                {% endif %}




                {% if perms.usuarios.permiso_administradores %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                           style="color: black; font-size: large;">
                            Admin
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'usuarios:lista' %}">Usuarios</a>
                            <a class="dropdown-item" href="{% url 'usuarios:lista_vendedores' %}">Vendedores</a>
                            <a class="dropdown-item" href="{% url 'principal:lista_admin' %}">Productos</a>
                        </div>
                    </li>
                {% elif perms.usuarios.permiso_vendedores or perms.usuarios.permiso_vendedor_previo %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'principal:lista_prod_vendedor' %}"
                           style="color: black; font-size: large;">Mis Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ordenes:pedidos-vendedor' %}" style="color: black; font-size: large;">Pedidos</a>
                    </li>
                {% elif perms.usuarios.permiso_usuario %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ordenes:pedidos-usuario' %}"
                           style="color: black; font-size: large;">Mis Pedidos</a>
                    </li>
                {% endif %}

            </ul>
            <div class="navbar-search my-lg-0 ">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Buscar...">
                    <button class="btn btn-success" style="background: #00A859; border-radius: 4px;"><i
                            class="bi bi-search"></i></button>
                    <a class="icon-btn primary-icon-text icon-text-btn" href="{% url 'ordenes:lista_carrito' %}">
                        <img src="{% static 'images/icon-svg/cart-fill.svg' %}" alt="Icon">
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <div class="overlay-7"></div>
</header>


{% block body %}

{% endblock body %}

<!--====== Footer Style 3 Part Start ======-->
{#<section class="footer-style-3 mt-lg-5">#}
{#    <div class="container">#}
{#        <div class="footer-top">#}
{#            <div class="row justify-content-center">#}
{#                <div class="col-lg-5 col-md-7 col-sm-10">#}
{#                    <div class="footer-logo text-center">#}
{#                        <a href="{% url 'principal:principal' %}">#}
{#                            <img src="{% static 'images/imagenes-tuneadas/ZacatecasLogo.png' %}" alt="Logo"#}
{#                                 width="300px">#}
{#                        </a>#}
{#                    </div>#}
{#                    <h5 class="heading-5 text-center mt-20">S&iacute;guenos</h5>#}
{#                    <ul class="footer-follow text-center">#}
{#                        <li><a href="javascript:void(0)"><i class="lni lni-facebook-filled letras-verdes"></i></a></li>#}
{#                        <li><a href="javascript:void(0)"><i class="lni lni-twitter-filled letras-verdes"></i></a></li>#}
{#                        <li><a href="javascript:void(0)"><i class="lni lni-linkedin-original letras-verdes"></i></a>#}
{#                        </li>#}
{#                        <li><a href="javascript:void(0)"><i class="lni lni-instagram-original letras-verdes"></i></a>#}
{#                        </li>#}
{#                        <li><a href="javascript:void(0)"><i class="lni lni-whatsapp letras-verdes"></i></a></li>#}
{#                    </ul>#}
{#                    <div class="footer-copyright text-center">#}
{#                        &copy; Plataforma Comercial Digital#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</section>#}

<footer class="footer-style-3">
    <div class="container">
        <div class="footer-top">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-7 col-sm-10">
                    <div class="footer-logo text-center">
                        <a href="{% url 'principal:principal' %}">
                            <img src="{% static 'images/imagenes-tuneadas/ZacatecasLogo.png' %}" alt="Logo"
                                 width="300px">
                        </a>
                    </div>
                    <h5 class="heading-5 text-center mt-20">S&iacute;guenos</h5>
                    <ul class="footer-follow text-center">
                        <li><a href="javascript:void(0)"><i class="lni lni-facebook-filled letras-verdes"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="lni lni-twitter-filled letras-verdes"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="lni lni-linkedin-original letras-verdes"></i></a>
                        </li>
                        <li><a href="javascript:void(0)"><i class="lni lni-instagram-original letras-verdes"></i></a>
                        </li>
                        <li><a href="javascript:void(0)"><i class="lni lni-whatsapp letras-verdes"></i></a></li>
                    </ul>
                    <div class="footer-copyright text-center">
                        &copy; Plataforma Comercial Digital
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<!--====== Footer Style 3 Part Ends ======-->


<!--====== Jquery js ======-->
<script src="{% static 'js/vendor/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'js/vendor/modernizr-3.7.1.min.js' %}"></script>

<!--====== Bootstrap 5 js ======-->
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!--====== Slick js ======-->
<script src="{% static 'js/slick.min.js' %}"></script>

<!--====== Accordion Steps Form js ======-->
<script src="{% static 'js/jquery-vj-accordion-steps.js' %}"></script>

<!--====== Jquery Ui js ======-->
<script src="{% static '/js/jquery-ui.min.js' %} "></script>

<!--====== Form validator js ======-->
<script src="{% static 'js/jquery.form-validator.min.js' %}"></script>

<!--====== nice select js ======-->
<script src="{% static 'js/jquery.nice-select.min.js' %} "></script>

<!--====== formatter js ======-->
<script src="{% static 'js/jquery.formatter.min.js' %}"></script>

<!--====== Main js ======-->
<script src="{% static 'js/count-up.min.js' %}"></script>

<!--====== Main js ======-->
<script src="{% static 'js/main.js' %}"></script>

<script src="{% static 'js/funciones.js' %}"></script>
<script src="{% static 'js/carrito.js' %}"></script>

{% block js %}

{% endblock js %}

</body>

</html>