{% extends 'base.html' %}
{% load static %}

{% block title %}
    Mi Carrito
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/mis_estilos.css' %}">
{% endblock css %}

{% block body %}
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% else %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <section class="h-100 h-custom" style="background-color: #eee;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="d-flex justify-content-center mb-4">
                                <div>
                                    <h3 class="mx-2">Carrito de Compra</h3>
                                </div>
                            </div>
                            <div class="row justify-content-center">

                                <div class="col-lg-10">
                                    <a class="btn main-btn secondary-1-btn" href="{% url 'principal:lista' %}">
                                        <i class="lni lni-arrow-left"></i>
                                        Continuar Comprando
                                    </a>
                                    <hr>
                                    {% for dato in object.productos.all %}
                                        <div class="card mb-3">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between">
                                                    <div class="d-flex flex-row align-items-center">
                                                        <div>
                                                            <img src="{% if dato.producto.imagen %}/media/{{ MEDIA_URL }}{{ dato.producto.imagen }}{% else %}{% static 'images/product_placeholder.png' %}{% endif %}"
                                                                 class="img-fluid rounded-3" alt="Shopping item"
                                                                 style="width: 65px;">
                                                        </div>
                                                        <div class="ms-3">
                                                            <h5>{{ dato.producto.nombre }}</h5>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex flex-row align-items-center">
                                                        <div class="w-100">
                                                            <a class="icono-minus"
                                                               href="{% url 'ordenes:eliminar-articulo-carrito' dato.producto.id %}">
                                                                <i class="bi bi-dash-square"></i>
                                                            </a>
                                                            <span class="letras-negras">{{ dato.cantidad }}</span>

                                                            {% if dato.cantidad < dato.producto.stock %}
                                                                <a class="icono-plus"
                                                                   href="{% url 'ordenes:agregar' dato.producto.id %}">
                                                                    <i class="bi bi-plus-square"></i>
                                                                </a>
                                                            {% endif %}

                                                        </div>
                                                        <div style="width: 80px;">
                                                            <h5 class="mb-0">${{ dato.producto.precio }}</h5>
                                                        </div>
                                                        <a href="#!" style="color: #cecece;"><i
                                                                class="fas fa-trash-alt"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    {% for grupo in object.get_pagos %}
                                        {{ grupo }}
                                    {% endfor %}
                                    <div class="card bg-body text-white rounded-3">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                {% if object.productos.all|length == 0 %}
                                                    <div class="container text-center">
                                                        <h4> Carrito vacio</h4>
                                                    </div>
                                                {% else %}
                                                    <h5 class="mb-2">Total</h5>
                                                    <h5 class="mb-2">${{ object.get_total }}</h5>

                                                {% endif %}
                                            </div>
                                            {% if object.productos.all|length != 0 %}
                                                <div class="container text-center">
                                                    <a class="btn main-btn secondary-1-btn" href="{% url 'ordenes:apartar' %}">Apartar</a>
                                                </div>
                                            {% endif %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
{% endblock body %}

