{% extends 'base.html' %}
{% load static %}

{% block title %}
    Mi Carrito
{% endblock title %}

{% block body %}

    <section class="h-100 h-custom" style="background-color: #eee;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                    <div class="card">
                        <div class="card-body p-4">

                            <div class="row justify-content-center">

                                <h5 class="col-lg-10">
                                    <h5 class="mb-3"><a href="#!" class="text-body"><a
                                            class="btn main-btn secondary-1-btn" href="{% url 'principal:lista' %}">←
                                        Continuar Comprando</a>
                                        <hr>

                                        <div class="d-flex justify-content-between align-items-center mb-4">
                                            <div>
                                                <p class="mb-1">Carrito de compra</p>
                                            </div>
                                        </div>
                                        {% for dato in object.productos.all %}
                                            <div class="card mb-3">
                                                <div class="card-body">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="d-flex flex-row align-items-center">
                                                            <div>
                                                                <img
                                                                        src="{% if dato.producto.imagen %}/media/{{ MEDIA_URL }}{{ dato.producto.imagen }}{% else %}{% static 'images/product_placeholder.png' %}{% endif %}"
                                                                        class="img-fluid rounded-3" alt="Shopping item"
                                                                        style="width: 65px;">
                                                            </div>
                                                            <div class="ms-3">
                                                                <h5>{{ dato.producto.nombre }}</h5>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex flex-row align-items-center">
                                                            <div style="width: 100px;">
                                                                <a class="icono-minus"
                                                                   href="{% url 'ordenes:eliminar-articulo-carrito' dato.producto.slug %}"><i
                                                                        class="bi bi-dash-square""></i></a>
                                                                {{ dato.cantidad }}
                                                                <a class="icono-plus"
                                                                   href="{% url 'ordenes:agregar' dato.producto.slug %}"><i
                                                                        class="bi bi-plus-square"></i></a>

                                                            </div>
                                                            <div style="width: 80px;">
                                                                <h5 class="mb-0">${{ dato.producto.precio }}</h5>
                                                            </div>
                                                            <a href="#!" style="color: #cecece;"><i
                                                                    class="fas fa-trash-alt"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}

                                    {% for vendedor in object.get_carrito %}
                                        <h3>{{ vendedor.client_id }}</h3>
                                    {% endfor %}
                                        <div class="card bg-body text-white rounded-3">
                                            <div class="card-body">
                                                <hr class="my-4">
                                                <div class="d-flex justify-content-between">
                                                    <h5 class="mb-2">Subtotal</h5>
                                                    <h5 class="mb-2">${{ object.get_total }}</h5>
                                                </div>
                                                <div class="text-center" id="paypal-button-container"></div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock body %}

{% block js %}
    <script src="{% static 'js/funciones.js' %}"></script>
    <script src="https://www.paypal.com/sdk/js?client-id=AadYLycUIoRTR_N5OZYxvaZza5Y3ice4uyejnHrw6LDHRuIOFWfUgvLkYhJsRfXYVtiBrVc6A0ZWg3nG&currency=MXN"></script>
    <script>
        paypal.Buttons({
            style: {
                color: "gold",
                shape: "rect",
                layout: "horizontal",
            },
            createOrder: function (data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: {{ object.get_total }}
                        }
                    }],
                });
            },
            onApprove: (data, actions) => {
                const captureOrderHandler = (details) => {
                    const payerName = details.payer.name.given_name;
                    console.log('Transaction completed');
                };
                return actions.order.capture().then(captureOrderHandler);
            },
            onError: (err) => {
                console.error('An error prevented the buyer from checking out with PayPal');
            }
        }).render('#paypal-button-container');
    </script>
{% endblock js %}