<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activar cuenta</title>
</head>
<body>
    <div>
        <h3>Validar cuenta de vendedor</h3>
        <p>Hola Admin </p>
        <p>El vendedor: <b>{{ usuario.username }} </b>  ha solicitado la activacion de su cuenta.</p>
        <br>
        <hr>
        <p>
        Ingresa al sistema para revisar sus datos.
        </p>
        <br>
        <p>Saludos!!!!</p>
    </div>
</body>
</html>