<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuenta activada</title>
</head>
<body>
    <div>
        <h3>Validar cuenta de vendedor</h3>
        <p>Hola <b>{{ usuario.username }} </p>
        <p>El administrador ha verificado tus datos y ahora tu cuenta se encuentra activa.
              </b>  ahora puedes vender tus productos </p>
        <br>
        <hr>
        <p>
        Ingresa al sistema para rcomenzar a vender
        </p>
        <br>
        <p>Saludos!!!!</p>
    </div>
</body>
</html>