{% extends 'base.html' %}
{% load static %}
{% block title %}
Registrar
{% endblock title%}
{% block body %}
{% load crispy_forms_tags%}

<br>
<div class="row">
	<div class="col-12 col-md-6 offset-md-3">
		<div class="card">
			<div class="card-body">
				<h1>Crear cuenta</h1>
				<form method="post" enctype="multipart/form-data">
					{% csrf_token %}
					{{form | crispy }}
					<br>
				</form>
			</div>
			<div class="d-flex justify-content-end">
				<button type="submit" class="btn boton-ingresar">Crear cuenta</button>
			</div>
			<p>¿Eres Vendedor?<a href="{% url 'usuarios:signup_vendor'%}" class = "link-info crear-cuenta">Crear cuenta</a></p>
		</div>
	</div>
</div>


{% endblock body %}

{% block js %}
<script src="{% static 'js/funciones.js'%}"></script>
{% endblock js %}