{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Detalles Usuario
{% endblock title %}

{% block body %}
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-6 col-md-10 offset-md-1">
            <div class="card text-dark">
                <div class="card-body">
                    <h4 class="card-title mb-4 mt-1">Informaci&oacute;n del Usuario</h4>
                    <br>
                    <h3>Nombre: {{ object.first_name }} </h3>
                    <br>
                    <h3>Nombre de Usuario: {{object.username}} </h3>

                    <div class="d-flex justify-content-end">
                        <a href="{% url 'usuarios:lista' %}" class="btn boton-ingresar">Regresar</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% endblock body %}
    {% block js %}
    {% endblock js %}